.container {
  max-width: 1250px;
  position: relative;
}

body {
  background-color: lightblue;
}

header {
  background-color: lightblue;
  padding: 2px 0px;
  margin-bottom: 3em;
  text-align: left;
}

.infobox {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 81px;
  right: 10px;
  width: 600px;
  height: 600px;
  font-size: 16px;
  word-wrap: break-word;
  text-align: left;
  border: solid 1.5px black;
}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 70px;
  font-weight: 600;
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

main {
  display: flex;
  padding: 0 1em;
}
.process-meta {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.data {
  font-size: 20px;
  flex-grow: 2;
}

.process {
  display: flex;
  width: 26em;
  margin-bottom: 1em;
  border: solid 1.5px black;
}


.process-meta li {
  margin-bottom: 20px;
  font-size: 20px;
  width: 24em;
}

.process-meta li:last-child {
  margin-bottom: 0;
  font-size: 20px;
  width: 24em;
}

.search label {
  display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.search input {
  font-size:20px;
  background: none;
  padding: 1em 1em;
  border: solid 1.5px black;
  outline: none;
  border-radius: .3em;
  width: 24em;
}

li {
  font-size: 20px;
  width: 24em;
}